* {
    font-family: Helvetica;
    margin: 0px;
}

.sessao{
    margin-left: 20px;
}

.container {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #de9c51;
    color: #ffffff;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
}

.item {
    background-color: #e5a760;
    margin: 10px;
    padding: 13px;
    text-align: center;
    border-radius: 5px;
    flex-basis: 8%;
    font-size: 18px;

}

header {
    text-align: center;
}

h1 {
    color: rgb(86, 86, 86);
    margin: 20px;
}

form {
    display: inline-block;
    width: 250px;
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(86, 86, 86);
}

input {
    padding: 5px;
}

button {
    background-color: #de9c51;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px #de9c51;
}
