* {
    font-family: Helvetica;
}

header {
    text-align: center;
}

h1 {
    color: rgb(38, 37, 37);
}

span {
    color: rgb(220, 225, 233);
    background-color: rgb(38, 37, 37);
    border-radius: 5px;
    padding: 0 5px;
}

form {
    display: inline-block;
    width: 250px;
    border-radius: 5px;
}

input {
    padding: 5px;
}

button {
    background-color: rgb(243, 241, 249);
    padding: 5px;
    margin-top: 10px;
    border: solid 1px rgb(247, 54, 54);
}