* {
    font-family: Helvetica;
    margin: 0px;
}

.container {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #de9c51;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0px;
}

.item {
    background-color: #e5a760;
    margin: 10px;
    padding: 13px;
    text-align: center;
    border-radius: 5px;
    flex-basis: 8%;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    text-align: center;
}

h1 {
    color: rgb(86, 86, 86);
    margin: 20px;
}

.sessao {
    margin-bottom: 600px;
}

.sessaocontact{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 500px;
}

form {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
    color: rgb(86, 86, 86);
}

input {
    padding: 5px;
    margin-left: 12px;
    width: 70%;
}

button {
    background-color: #de9c51;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px #de9c51;
}

footer {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #de9c51;
    justify-content: center;
    align-items: center;
    color: rgb(86, 86, 86);
    margin-bottom: 0px;
}
